article.blog-article.blog-typography
	header.blog-article-header
		h1 How to create a bounty on HackerLink.io?
		figure.blog-article-hero
			img(src="")
	section.blog-article-body
		h3 Step 1
		p <strong>Please create a new issue</strong> explaining the details of the bounty via YOUR own GitHub.
		p The Github issue should include a detailed description of this bounty. As detailed as possible. Example: <a href="https://github.com/streamingfast/streamingfast-client/issues/1">https://github.com/streamingfast/streamingfast-client/issues/1</a>

		h3 Step 2
		p Go to <a href="https://hackerlink.io/bounty">HackerLink > Bounty</a> to create a bounty. Or you can go directly to <a href="https://hackerlink.io/bounty/publish">HackerLink > Create a Bounty</a> (login needed).

		h3 Step 3
		p Put the GitHub issue URL in the blank, press [Enter]. You will see the details are automatically updated on this page.

		h3 Step 4
		ol
			li You can add more details (like bounty requirements, skills needed, bounty reward and bounty duration) in this form. <em>*All the details can be edited after the bounty is published!</em>
			li For “key works” section, please give reference to all the skills developers need to complete the bounty, for their convenience to find best-fit bounties.
			li For bounty reward, currently all the ERC-20 tokens, like ETH, USDC, USDT, etc., are supported. After entering the token amount, its USD value will be calculated instantly.
			li Bounty duration is recommended to be at least 60 days for developers to build. If the bounty finds no suitable hunter after the estimated end time, you can prolong the bounty duration or terminate the bounty.

		h3 Step 5
		p After setting up the details, please connect your wallet via MetaMask. All of the major ERC-20 tokens are supported.
		p The prizes will be reserved for the bounty until the bounty is finished or terminated by the bouty publisher.

		h4 <strong>Notice:</strong>
		ul
			li Please make sure you have enough balance for locking the rewards.
			li 10% of the reward will be deducted as smart contract fee for the bounty earner. So if the reward is 100 USDT, he/she will ultimately receive 90 USDT. No fee charged from the bounty poster.

		h3 Step 6
		p If someone completed your bounty, he/she will submit a Pull Request at your github PR. If the solution is satisfying enough, you can merge the PR and the status will be updated to HackerLink at the same time.
		p Then congrats! You have a bounty completed successfully!

		h2 <strong>A bounty explained workshop</strong>
		p A bounty is a great way to: 1) invite helpers to solve issues that’s important while not that urgent; 2) help developers know your tech stack well, and increase the influence of your tech stack / GitHub / brand.
		p To help the developers better understand the bounty, every bounty poster needs to have a workshop to explain the bounties. The themes should include:
		ul
			li Introduce bounties posted, including: what are the bounties, the background of each bounty, who are the bounty posters/funders, rewards, so on and so forth.
			li Goals: what’s the bounty aiming for? What’s the ideal output you want to see from the developers?
			li Requirements: what’s the skills needed? <strong>What skills are necessarily included in the final output?</strong> (like do you want the developers to use specific tech stacks in the PR they give?)
			li Developer resources.
			li Support: if developers encounter problems, how can they ask for help? (Usually we recommend the developers and the bounty posters communicate in the bounty issue page on github via comments!)
		p Our operations team will help you arrange the workshop and it will e live streamed at DoraHacks YouTube channel.
		p We have a good example at <a href="https://www.youtube.com/">YouTube »</a>
	
	footer.blog-article-credit.credit
		ul
			li
				a(href="https://example.com/") First published on DAOrayaki
			li
				a(href="https://example.com/") Repinted from DoraHacks on Medium
