extends ../_template

block var
	- const assetsPath = "../"
	- const pageTitl = "Bounty" + " — Cardlist B"
	- const bodyClass = "bounty"
	- let bodyClassModifier = ""
	//--- Data

block headStyles
	link(rel="stylesheet" href=`${assetsPath}assets/normalize.css?v=${verTag}`)
	link(rel="stylesheet" href=`${assetsPath}assets/bounty-cardlist.css?v=${verTag}`)

block headScripts
	//- include data/gon

block mainBody
	include module/cardlist-b

block bodyFooter
